/* this is my comment */
/*and then what should we*/
p {
    font-family: helvetica; 
    font-size: 80px;
    color: rgb(0, 209, 139);
    text-align: center;
}

body {
    background-color: coral;
    }
    
img {border-radius: 8px; max-width: 100%;
height: auto; center }
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
